<div class="add-post-form">
  <h2>Dodaj nowego posta: </h2>
  <form [formGroup]="postForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="title">Tytuł:</label>
      <input id="title" formControlName="title" type="text">
      <div *ngIf="postForm.get('title')?.invalid && postForm.get('title')?.touched">
        Tytuł jest wymagany.
      </div>
    </div>
    <div>
      <label for="content">Treść:</label>
      <textarea id="content" formControlName="content"></textarea>
      <div *ngIf="postForm.get('content')?.invalid && postForm.get('content')?.touched">
        Treść jest wymagana.
      </div>
    </div>
    <button type="submit" [disabled]="postForm.invalid">Dodaj post</button>
  </form>
</div>
