<div class="comment-section">
  <h3>Komentarze</h3>

  <ul class="comment-list">
    <li *ngFor="let comment of comments" class="comment-item">
      <div class="comment-author"><strong>{{ comment.author }}</strong>:</div>
      <div class="comment-text">{{ comment.comment }}</div>
    </li>
  </ul>

  <div class="comment-form">
    <input #autorInput type="text" placeholder="Autor" class="input-field" />
    <input #commentInput type="text" placeholder="Komentarz" class="input-field" />
    <button
      (click)="addComment(commentInput.value, autorInput.value); commentInput.value=''; autorInput.value=''"
      class="add-button">Dodaj komentarz
    </button>
  </div>
</div>
