.refresh-button {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: #000000;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.refresh-button:hover {
  background-color: #555555;
}

.refresh-button:focus {
  outline: none;
}
